<div class="card m-3 mx-auto"
     style="width:50rem;">
  <div class="card-header bg-dark text-white">
    Form Capture
  </div>

  <div class="card-body">
    <form novalidate
          autocomplete="off"
          (ngSubmit)="submitForm()"
          [formGroup]="formCaptureForm">

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="fullName">fullName *</label>
        <div class="col-md-3">
          <input class="form-control"
                 id="fullName"
                 type="string"
                 formControlName="fullName"
                 placeholder="fullName"/>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="idNumber">idNumber *</label>
        <div class="col-md-3">
          <input class="form-control"
                 id="idNumber"
                 type="number"
                 formControlName="idNumber"
                 placeholder="idNumber"
                 [ngClass]="{'is-invalid': displayMessage.idNumber }" />
          <span class="invalid-feedback">
                                {{displayMessage.idNumber}}
                            </span>
        </div>
      </div>

      <div class="form-group row mb-2 id_hidden">
        <label class="col-md-3 col-form-label"
               for="personId">personId *</label>
        <div class="col-md-3">
          <input class="form-control"
                 id="personId"
                 type="number"
                 formControlName="personId"
                 placeholder="personId"
                 [ngClass]="{'is-invalid': displayMessage.personId }" />
          <span class="invalid-feedback">
                                {{displayMessage.personId}}
                            </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label"
               for="telephoneNumber">telephoneNumber *</label>
        <div class="col-md-3">
          <input class="form-control"
                 id="telephoneNumber"
                 type="number"
                 formControlName="telephoneNumber"
                 placeholder="telephoneNumber"
                 [ngClass]="{'is-invalid': displayMessage.telephoneNumber }" />
          <span class="invalid-feedback">
                                {{displayMessage.telephoneNumber}}
                            </span>
        </div>
      </div>

      <div class="form-group row mt-4 mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width: 80px;"
                  type="submit">
            Submit
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width: 80px;"
                  type="button"
                  title="Cancel your edits"
                  (onClick)="resetForm()">
            Reset
          </button>
        </div>
      </div>
      <div class="form-group row mt-4 mb-2">
        <div class="offset-md-2 col-md-4">
          <button (click)="getAllForms()"
                  style="width: 180px;"
                  type="button" class="btn btn-success">View Reports
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>
<div style="padding: 13px;">
<mat-spinner *ngIf="listPersons.length > 0">
<div class="card m-5 mx-auto"
     style="width:50rem;">
  <div class="card-header bg-dark text-white">
    Form reports
  </div>
  <div class="card-body">
    <div class="col-md-6">
      <div class="card card-primary mb-4 mt-4 mt-md-0">
        <div class="card-header">
          <h3 class="mb-0">Reports</h3>
        </div>

          <table>
              <thead>
                  <tr>
                      <th>First Name</th>
                      <th>idNumber</th>
                      <th>Phone</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let person of listPersons">
                      <td>{{person.fullName}}</td>
                      <td>{{person.idNumber}}</td>
                      <td>{{person.telephoneNumber}}</td>
                  </tr>
              </tbody>
          </table>

      </div>
    </div>
  </div>
</div>
</mat-spinner>
</div>
